body{
	background-image: url("http://www.themesltd.com/headers2/cute_happy_burgers.png");
	color: blue;
}
h1{
	text-align: center;
	font-size: 60px;

}
h2{
	font-size: 45px;
	text-align: center;
	margin-bottom: 30px;
}
h3{
	font-size: 30px;
	font-weight: bold;
}
p{
	font-size: 20px;
}

.order{
	text-align: center;
}

.devoured{
	text-align: center;
	background-color: white;
}
.toEat{
	text-align: center;
	background-color: white;
}